// Typography
$font-family-main: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-headings: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #eef1f5;
$background-color: #eef1f5; // #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #383838;
$link-color: #007adf;
$selection-color: #00ecbc; // visible when highlighting text

// Tags color
$tags-color: #b0b0b0;

//Search color
$search-color: #764ba2;

// Header colours
$header-link-color: #537895;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #00c9ff;
$header-desc-text-color: #FFF;
$header-desc-link-color: #02453D;
